body {
    background-color: rgb(7, 7, 56);
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 5600px;
    height: 5600px;
    border: solid black;
    background-color: rebeccapurple;
}

.grid div {
    width: 3.5714%;
    height: 3.5714%;
}

.dots {
    background-color: chartreuse;
    border: 90px solid rebeccapurple;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(7, 7, 56);
}

.zovid {
    background: rebeccapurple;
    background-image: url("../media/zodot.png");
    width: 200px;
    height: 200px;
}

.player {
    background-color: rebeccapurple;
    background-image: url("../media/zbounce.gif");
    width: 200px;
    height: 200px;
}

.linky {
    border: 0px;
    border-radius: 30%;
    background-image: url("../media/linky.gif");
    background-color: rebeccapurple;
}

.stinky {
    border: 0px;
    border-radius: 30%;
    background-image: url("../media/stinky.gif");
    background-color: rebeccapurple;
}

.winky {
    border: 0px;
    border-radius: 30%;
    background-image: url("../media/winky.gif");
    background-color: rebeccapurple;
}

.danny {
    border: 0px;
    border-radius: 30%;
    background-image: url("../media/danny.gif");
    background-color: rebeccapurple;
}

.scared-man {
    background-color: rebeccapurple;
    background-image: url("../media/swalk.gif");
    width: 200px;
    height: 200px;
}