body {
    color: chartreuse;
    background-color: #21572f;
    margin: auto;
    text-align: center;
    background-image: url("..\..\L3\docs\media\Bld.png");
}

.button {
    background-color: rebeccapurple;
    border: none;
    color: chartreuse;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.message {
    background-color: rgb(7, 7, 56);
    margin: auto;
}

.guide {
    margin: auto;
    color: rgb(255, 255, 255);
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
